<div>
  <%= link_to_unless_current 'Migrations', ponytail_migrations_path %>
  <%= link_to_unless_current 'Tables', ponytail_tables_path %>
  <%= link_to_unless_current 'New Migration', new_ponytail_migration_path %>
</div>
