<script type="text/template" id="migrations_item_template">
  <tr>
    <td class="filename"><%%= basename %></td>
    <td class="version"><%%= version %></td>
    <td class="raw_content"><%%= raw_content %></td>
    <td class="delete_file"><i class="fa fa-trash-o fa-fw"></i></td>
  </tr>
</script>
