<script type="text/template" id="preview_migration_template">
  <div class="migration_file">
    <div class="migration_filename"><%%= basename %></div>
    <div class="raw_content">
      <pre><code><%%= raw_content %></code></pre>
    </div>
  </div>
</script>
