<script type="text/template" id="table_template">
  <div class="horizontal-box">
    <div class="table_name">
      <span><%%= name %></span>
      <input type="text" value="<%%= name %>" />
    </div>
    <div class="edit_table"><i class="fa fa-pencil fa-fw"></i></div>
    <div class="drop_table"><i class="fa fa-trash-o fa-fw"></i></div>
    <div class="restore_table"><i class="fa fa-undo fa-fw"></i></div>
  </div>
  <div class="columns">
    <div class="add_column"><i class="fa fa-plus-circle fa-fw"></i>Add Column</div>
  </div>
</script>
