<script type="text/template" id="table_template">
  <div class="horizontal-box">
    <div class="table_name">
      <span><%%= name %></span>
      <input type="text" value="<%%= name %>" />
    </div>
    <div class="edit_table"><a href="#">edit</a></div>
    <div class="drop_table"><a href="#">drop</a></div>
    <div class="restore_table"><a href="#">restore</a></div>
  </div>
  <div class="columns">
    <div class="add_column"><a href="#">Add Column</a></div>
  </div>
</script>
