<div class="pt_migration">
  <div class="pt_header">
    <% if migration.version == @current_version %>
      <span class="pt_current">current</span>
    <% end %>
    <span class="pt_name"><%= migration.name %></span>
    <span class="pt_filename"><%= migration.filename %></span>
  </div>
  <pre class="pt_raw_content"><%= migration.raw_content %></pre>
</div>
