<div class="pt_migration">
  <div class="pt_current"><%= migration.version == @current_version ? "current" : "" %></div>
  <div class="pt_migration_file">
    <div class="pt_migration_header">
      <span class="pt_name"><%= migration.name %></span>
      <span class="pt_filename"><%= migration.filename %></span>
    </div>
    <div class="pt_raw_content">
      <pre><%= migration.raw_content %></pre>
    </div>
  </div>
</div>
