<% if migration.errors.any? %>
  <div class="pt_new_errors">
    <span><%= pluralize(migration.errors.count, "error") %></span>
    <ul>
      <% migration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
