<div class="pt_table"><%= table.name %></div>
<div class="pt_columns">
  <% table.columns.each do |column| %>
    <div class="pt_column">
      <div class="pt_column_type">t.<%= column.type %></div>
      <div class="pt_column_name"><%= column.name %></div>
    </div>
<% end %>
</div>
