<script type="text/template" id="table_view_template">
  <div class="pt_table">
    <div class="pt_table_name">
      <span><%%= name %></span>
      <input type="text" />
    </div>
    <div>
      <a href="#" class="pt_drop_table">drop</a>
    </div>
    <div class="pt_columns">
      <%% _.each(columns, function(column) { %>
        <div class="pt_column">
          <div class="pt_column_type"><%%= column.type %></div>
          <div class="pt_column_name"><%%= column.name %></div>
        </div>
    <%% }); %>
    </div>
  </div>
</script>
