<div class="pt_table">
  <div class="pt_table_name">
    <span><%= table.name %></span>
    <input type="text" value="<%= table.name %>" style="display: none;" />
  </div>
  <div>
    <a href="#" class="pt_drop_table">drop</a>
    <a href="#" class="pt_restore_table" style="display: none;">restore</a>
  </div>
  <div class="pt_columns">
    <% table.columns.each do |column| %>
      <%= render 'column', column: column %>
    <% end %>
  </div>
  <div>
    <a href="#" class="pt_add_column">Add Column</a>
  </div>
</div>
