<div class="pt_table">
  <div class="pt_table_name">
    <span><%= table.name %></span>
    <input type="text" />
  </div>
  <div class="pt_columns">
    <% table.columns.each do |column| %>
      <div class="pt_column">
        <div class="pt_column_type"><%= column.type %></div>
        <div class="pt_column_name"><%= column.name %></div>
      </div>
  <% end %>
  </div>
</div>
