<%= render 'ponytail/templates/migrations_item' %>
<%= render 'ponytail/templates/preview_migration' %>

<div class="index">
  <div class="header">
    <span>index</span>
    <span>|</span>
    <a href="/ponytail/migrations/new">new</a>
  </div>

  <% if notice %>
    <div class="notice">
      <div class="message"><%= notice %></div>
      <div class="close"><a href="#">x</a></div>
    </div>
  <% end %>

  <div class="container">
    <div class="left_div">
      <div class="migration_filepath"><%= "#{Ponytail::Migration.migrations_path}/" %></div>
      <div class="migration_files">
        <table>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

    <div class="migration_file"></div>
  </div>

  <div class="actions">
    <div>
      <button class="new_button">New</button>
    </div>
    <div class="migrate">
      <% if !Ponytail::Migration.check_pending? %>
        <button class="migrate_button">Migrate</button>
      <% else %>
        <button class="migrate_button" disabled="disabled">Migrate</button>
      <% end %>
      <% if !Ponytail::Migration.check_pending? && !@migrations[0].current? %>
        <button class="rollback_button">Rollback</button>
      <% else %>
        <button class="rollback_button" disabled="disabled">Rollback</button>
      <% end %>
    </div>
  </div>
</div>

<script type='text/javascript'>
  new Ponytail.Views.MigrationsIndex({el: $(".index")}).render();
</script>
