<div class="new">
  <div class="header">
    <a href="/rails/migrations">index</a>
    <span>|</span>
    <span>new</span>
  </div>

  <% if notice %>
    <div class="notice">
      <div class="message"><%= notice %></div>
      <div class="close"><a href="#">x</a></div>
    </div>
  <% end %>

  <div class="container">
    <div class="tables">
      <% @schema.tables.each do |table| %>
        <div class="table">
          <div class="horizontal-box">
            <div class="table_name"><%= table.name %></div>
            <div class="edit_table"><a href="#">edit</a></div>
            <div class="drop_table"><a href="#">drop</a></div>
            <div class="restore_table"><a href="#">restore</a></div>
          </div>
          <div class="columns">
            <% table.columns.each do |column| %>
              <div class="column">
                <div class="column_type"><%= column.type %></div>
                <div class="column_name"><%= column.name %></div>
                <div class="edit_column"><a href="#">edit</a></div>
                <div class="remove_column"><a href="#">remove</a></div>
                <div class="restore_column"><a href="#">restore</a></div>
              </div>
            <% end %>
            <div class="add_column"><a href="#">Add Column</a></div>
          </div>
        </div>
      <% end %>
      <div class="new_table"><a href="#">New Table</a></div>
    </div>

    <div class="migration_file">
      <div class="migration_file_header">
        <div class="classname">
          <span>NewMigration</span>
          <input type="text" value="NewMigration" />
        </div>

        <div class="edit_checkbox">
          <input type="checkbox" />
          <span>edit</span>
        </div>
      </div>

      <div class="raw_content">
        <textarea disabled="disabled"></textarea>
      </div>

      <div class="actions">
        <button>Create File</button>
      </div>
    </div>
  </div>
</div>

<script type='text/javascript'>
  new Ponytail.Views.New({el: $(".new")}).render();
</script>
