/*
 *= require github
 */

.ponytail_migrations {
  width: 100%;
  text-align: center;
}

.ponytail_columns {
  width: 100%;
  text-align: center;
}

.ponytail_indexes {
  width: 100%;
  text-align: center;
}
