@import "compass";

@import "base";
@import "index";

/* errors */
.pt_new_errors ul {
  margin: 3px 0;
}

/* new */
.pt_new {
  display: -moz-box;
  display: -webkit-box;
  width: 1024px;
}

.pt_new .pt_schema {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
}

.pt_new .pt_schema .pt_table {
  margin-top: 5px;
}

.pt_new .pt_schema .pt_table_name span {
  font-size: large;
  font-weight: bold;
}

.pt_new .pt_schema span {
  cursor: pointer;
}

.pt_new .pt_schema .pt_new_table {
  margin-top: 5px;
}

.pt_new .pt_columns {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  margin-left: 15px;
}

.pt_new .pt_columns .pt_column {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

.pt_new .pt_columns .pt_column .pt_column_type {
  width: 100px;
}

.pt_new .pt_form_header {
  display: -moz-box;
  display: -webkit-box;
  width: 100%;
}

.pt_new .pt_form_header .pt_class_name {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
}
