/* index */
.pt_index {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}

.pt_actions {
  margin: 5px;
}

.pt_actions .button_to {
  float: left;
  margin: 0 2px;
}

/* migration */
.pt_migration {
  display: -moz-box;
  display: -webkit-box;
}

.pt_migration .pt_current {
  width: 60px;
}

.pt_migration .pt_migration_file {
  margin-left: 5px;
}

.pt_migration .pt_name {
  font-size: large;
  font-weight: bold;
}

.pt_migration .pt_raw_content {
  background: whitesmoke;
  border-radius: 5px;
  display: none;
  padding: 5px;
}

.pt_migration .pt_raw_content pre {
  margin: 5px 0;
}

/* notice */
.pt_notice {
  display: -moz-box;
  display: -webkit-box;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background: limegreen;
  color: white;
}

.pt_notice_message {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
}

/* errors */
.pt_new_errors ul {
  margin: 3px 0;
}
